{% extends 'registration/base.html' %}

{% block form %}
<form class="form" method="post" action="{% url 'user_auth:login' %}">
    {% csrf_token %}
    <table class="table">
        <tr>
            <td>Username:</td>
            <td><input type="text" name="username" class="form-control"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" class="form-control"></td>
        </tr>
    </table>
    <input type="submit" value="Login" class="btn btn-primary">
    <a href="{% url 'user_auth:register' %}" class="btn btn-outline-primary">Register</a>
</form>
{% endblock %}